/build/
/cmake-build-*/
/.mxproject
Oscilloscope/*.axf
Oscilloscope/*.bin
Oscilloscope/*.build_log.htm
Oscilloscope/*.d
Oscilloscope/*.dep
Oscilloscope/*.hex
Oscilloscope/*.htm
Oscilloscope/*.lnp
Oscilloscope/*.o
Oscilloscope/*.sct
Oscilloscope/Project/*.lst
Oscilloscope/Project/*.uvguix.*
Oscilloscope/Project/*.uvoptx
Oscilloscope/Project/.vscode/
Oscilloscope/Project/Listings/
Oscilloscope/Project/Objects/
Oscilloscope/Project/*.Bak
